details > summary {
    list-style: none;
}
details > summary::-webkit-details-marker {
    display: none;
}
details > summary:focus {
    outline: none;
}
details[open] summary ~ * {
    animation: sweep 0.5s ease-in-out;
}
@keyframes sweep {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
